@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* .header-3-3 .modal-backdrop.show {
  background-color: #000;
  opacity: 0.6;
} */

/* section */
.news,
.caraousel {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
}

.header-3-3 .modal-item.modal {
  top: 2rem;
}

.header-3-3 .navbar {
  padding: 2rem;
}

.header-3-3 .navbar-light .navbar-nav .nav-link {
  font: 500 0.875rem/1.5rem Poppins, sans-serif;
  color: #243142;
  padding: 0rem 1.25rem 0rem 0rem;
  margin-right: 0;
  margin-left: 0;
}

.header-3-3 .navbar-light .navbar-nav .nav-link:hover {
  font: 500 0.875rem/1.5rem Poppins, sans-serif;
  color: #8b9caf;
}

.header-3-3 .navbar-light .navbar-nav .active {
  position: relative;
  width: fit-content;
}

.header-3-3 .navbar-light .navbar-nav .active > .nav-link,
.header-3-3 .navbar-light .navbar-nav .nav-link.active,
.header-3-3 .navbar-light .navbar-nav .nav-link.show,
.header-3-3 .navbar-light .navbar-nav .show > .nav-link {
  font-weight: 500;
}

.header-3-3 .navbar-light .navbar-toggler-icon {
  background-image: urlurl(
    "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"
  );
}

.header-3-3 .btn:focus,
.header-3-3 .btn:active {
  outline: none !important;
}

.header-3-3 .btn-fill {
  font: 500 0.875rem/1.25rem Poppins, sans-serif;
  border: 1px solid #2ec49c;
  background-color: #2ec49c;
  border-radius: 999px;
  padding: 0.75rem 1.5rem;
  transition: 0.3s;
}

.header-3-3 .btn-fill:hover {
  background-color: #29daab;
  border: 1px solid #2ec49c;
}

.header-3-3 .modal-item .modal-dialog .modal-content {
  border-radius: 8px;
}

.header-3-3 .responsive li {
  padding: 1rem;
}

.header-3-3 .form {
  border-radius: 999px;
  background-color: #eef4fd;
  box-sizing: border-box;
  font-size: 14px;
  padding: 0rem 1rem;
  padding-right: 0.5rem;
  outline: none;
}

.header-3-3 .form div input[type="text"] {
  background-color: #eef4fd;
  box-sizing: border-box;
  font-size: 14px;
  padding: 0rem 0.5rem;
  outline: none;
  width: 100%;
}

.header-3-3 .center-search {
  bottom: 0.5rem;
}

/* Carousel */
.caraousel {
  padding: 2rem 1rem;
  height: 100%;
  width: 100%;
}

.carousel-inner,
.carousel-item {
  height: 190px;
}

.caraousel .carousel-caption {
  z-index: 1;
  margin-left: 0;;
}

.caraousel .carousel-caption h5 {
  font: 500 0.9375rem Poppins, sans-serif;
}

.caraousel .carousel-caption p {
  font: 300 0.625rem Poppins, sans-serif;
}

.caraousel .carousel-caption p span {
  font-weight: 500;
}

.carousel-caption a {
  text-decoration: none;
  color: #ffffff;
}

.carousel-caption a:hover {
  text-decoration: underline;
}

.card-news-header {
  height: 190px;
  overflow: hidden;
  position: relative;
  margin-bottom: 5px;
}

.card-news-header:hover img {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

.card-news-header .caption {
  position: absolute;
  bottom: 5px;
  z-index: 2000 !important;
}
.card-news-header .caption a {
  text-decoration: none;
}

.card-news-header .caption:hover .title {
  text-decoration: underline;
}

.card-news-header .caption .title {
  font: 500 1rem Poppins, sans-serif;
  color: #ffffff;
}

.card-news-header .caption span {
  font: 300 0.6rem Poppins, sans-serif;
  color: #dcdcdc;
}

.carousel-item::after,
.card-news-header::after {
  content: "";
  display: block;
  width: 100%;
  height: 70%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
  position: absolute;
  bottom: 0;
}

/* news */
.news .content {
  padding: 0rem 1rem;
}

.news .headlines {
  padding: 20px 0 !important;
}

.news h5 {
  font: 600 1.2rem Poppins, sans-serif;
}
.news h6 {
  font: 600 0.95rem Poppins, sans-serif;
}

.news h5 a,
.news h6 a {
  color: #243142;
  text-decoration: none;
}

.news h5 a:hover,
.news h6 a:hover {
  text-decoration: underline;
  color: #29daab;
}

.news .upload span {
  font: 500 0.8rem Poppins, sans-serif;
  color: #39465b;
}

.news .datetime span {
  font: 500 0.7rem Poppins, sans-serif;
  color: #39465b;
}

.news .caption {
  font: 400 0.95rem Poppins, sans-serif;
  color: #243142;
}

.news iframe {
  width: 100%;
  height: 250px;
}

.news hr {
  width: 100%;
  height: 1px;
  margin-top: 10px;
  background-color: #000000;
}

/* Footer */
.footer-2-2 .list-space {
  margin-bottom: 1.25rem;
}

.footer-2-2 .footer-text-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 1.5rem;
}

.footer-2-2 .list-menu {
  color: #555252;
  text-decoration: none !important;
}

.footer-2-2 .list-menu:hover {
  color: #555252;
}

.footer-2-2 hr.hr {
  margin: 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-2-2 .border-color {
  color: #c7c7c7;
}

.footer-2-2 .footer-link {
  color: #6f6f6f;
}

.footer-2-2 .footer-link:hover {
  color: #b8b8b8;
}

.footer-2-2 .social-media-c:hover circle,
.footer-2-2 .social-media-p:hover path {
  fill: #888888;
}

.footer-2-2 .footer-info-space {
  padding-top: 3rem;
}

.footer-2-2 .list-footer {
  padding: 2rem;
}

.footer-2-2 .info-footer {
  padding: 0 1rem 3rem;
}

/* Login */
.login-3-5 .btn:focus,
.login-3-5 .btn:active {
  outline: none !important;
}

.login-3-5 {
  width: 100%;
  margin: 0 20px;
}

.login-3-5 .right {
  width: 100% !important;
}

.login-3-5 .title-text {
  font: 600 1.875rem/2.25rem Poppins, sans-serif;
  margin-bottom: 0.75rem;
}

.login-3-5 .caption-text {
  font: 400 0.875rem/1.75rem Poppins, sans-serif;
  color: #a8adb7;
}

.login-3-5 .input-label {
  font: 500 1.125rem/1.75rem Poppins, sans-serif;
  color: #39465b;
}

.login-3-5 .div-input {
  font: 300 1rem/1.5rem Poppins, sans-serif;
  padding: 1rem 1.25rem;
  margin-top: 0.75rem;
  border-radius: 0.75rem;
  border: 1px solid #cacbce;
  color: #2a3240;
  transition: 0.3s;
}

.login-3-5 .div-input:focus-within {
  border: 1px solid #2ec49c;
  color: #2a3240;
  transition: 0.3s;
}

.login-3-5 .div-input input::placeholder {
  color: #cacbce;
  transition: 0.3s;
}

.login-3-5 .div-input:focus-within input::placeholder {
  color: #2a3240;
  outline: none;
  transition: 0.3s;
}

.login-3-5 .div-input .icon-toggle-empty-3-5 path,
.login-3-5 .div-input:focus-within .icon path {
  transition: 0.3;
  fill: #2ec49c;
  transition: 0.3s;
}

.login-3-5 .input-field {
  font: 300 1rem/1.5rem Poppins, sans-serif;
  width: 100%;
  background-color: #fcfdff;
  transition: 0.3s;
}

.login-3-5 .input-field:focus {
  outline: none;
  transition: 0.3s;
}

.login-3-5 .forgot-password {
  font: 400 0.875rem/1.25rem Poppins, sans-serif;
  color: #cacbce;
  transition: 0.3s;
  text-decoration: none;
}

.login-3-5 .forgot-password:hover {
  color: #2a3240;
}

.login-3-5 .btn-fill {
  font: 500 1.25rem/1.75rem Poppins, sans-serif;
  background-image: linear-gradient(
    rgba(91, 203, 173, 1),
    rgba(39, 194, 153, 1)
  );
  padding: 0.75rem 1rem;
  margin-top: 2.25rem;
  border-radius: 0.75rem;
  transition: 0.5s;
}

.login-3-5 .btn-fill:hover {
  background-image: linear-gradient(#2ec49c, #2ec49c);
  transition: 0.5s;
}

/* dashboard */
.dashboard .sidebar {
  width: 270px;
  height: 100vh;
  background-color: #212529;
}
.dashboard .sidebar-brand {
  padding: 0.9rem 0;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.dashboard .sidebar-brand span {
  font-size: 1.1rem;
}
.dashboard .sidebar .name {
  font: 500 1.25rem/1.75rem Poppins, sans-serif;
}
.dashboard .sidebar-brand-text {
  font: 500 1.1rem Poppins, sans-serif;
  color: #fcfdff;
}
.dashboard .sidebar .menu {
  display: flex;
  flex-direction: column;
}

/* iframe */
.container-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 576px) {
  /* header */
  .header-3-3 .modal-item .modal-dialog {
    max-width: 95%;
    border-radius: 12px;
  }

  .header-3-3 .navbar {
    padding: 2rem;
  }

  /* carousel */
  .caraousel {
    padding: 2rem;
  }

  .carousel-inner,
  .carousel-item {
    height: 350px;
  }

  .carousel-caption h5 {
    font-size: 1.25rem;
  }

  .carousel-caption p {
    font-size: 0.75rem;
  }

  /* news */
  .news .content-left .headlines h5 {
    font-size: 1.5rem;
  }

  .news .content-left .headlines .caption {
    font-size: 1.2rem;
  }

  .news .content-right iframe {
    height: 300px;
  }

  /* footer */
  .footer-2-2 .list-footer {
    padding: 5rem 2rem 3rem 2rem;
  }

  .footer-2-2 .info-footer {
    padding: 0 2rem 3rem;
  }

  /* login */
  .login-3-5 {
    width: 80%;
  }
}

@media (min-width: 768px) {
  /* header */
  .header-3-3 .navbar {
    padding: 2rem 4rem;
  }

  .caraousel {
    padding: 2rem 4rem;
  }

  .carousel-inner,
  .carousel-item {
    height: 450px;
  }

  /* news */
  .news .content {
    padding: 1rem 4rem;
  }

  .news .content .content-left {
    width: 55%;
  }

  .news .content .content-right {
    width: 45%;
  }

  .news .content-right iframe {
    height: 250px;
  }

  /* footer */
  .footer-2-2 .list-footer {
    padding: 5rem 4rem 6rem 4rem;
  }

  .footer-2-2 .info-footer {
    padding: 0 4rem 3rem;
  }

  /* login */
  .login-3-5 {
    width: 60%;
  }
}

@media (min-width: 992px) {
  /* header */
  .header-3-3 .navbar {
    padding: 2rem 4rem;
  }

  .header-3-3 .navbar-light .navbar-nav .nav-link {
    padding: 0;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .header-3-3 .navbar-light .navbar-nav .active:before {
    width: 40%;
  }

  .header-3-3 .center-search {
    left: 48%;
    top: 50%;
    bottom: auto;
    transform: translate(-48%, -50%);
  }

  .header-3-3 .form {
    width: 340px;
  }

  /* carousel */
  .carousel-inner,
  .carousel-item {
    height: 400px;
  }

  /* carousel */
  .caraousel {
    padding: 2rem 4rem;
  }

  .carousel-caption{
    margin-left: -100px !important;
  }

  .caraousel .carousel-caption h5 {
    font-size: 1.5625rem;
  }

  .caraousel .carousel-caption p {
    font-size: 0.875rem;
  }

  /* news */
  .news .content {
    padding: 1rem 4rem;
  }

  .news .content .content-left {
    width: 85%;
  }

  .news .content-left .other-news .category {
    width: 170px;
  }

  .news .content-left .other-news h5 {
    font-size: 1.1rem;
  }

  .news .content .content-left .img-fluid {
    margin-top: 0.5rem;
  }

  .news .content-left .headlines {
    padding: 0rem 1rem 0rem 1.5rem !important;
  }

  .news .content-left .headlines .caption {
    font-size: 1rem;
  }

  .news .content-right {
    width: 15%;
  }

  .news .content-right .category {
    font-size: 1.2rem;
  }

  /* footer */
  .footer-2-2 .list-footer {
    padding: 5rem 6rem 6rem 6rem;
  }

  .footer-2-2 .info-footer {
    padding: 0 6rem 3rem;
  }

  /* login */
  .login-3-5 {
    width: 35%;
  }
}

@media (max-width: 1023px) {
  /* header */
  .header-3-3 .form div input[type="text"] {
    width: 100%;
  }

  /* login */
  .login-3-5 .right {
    width: 58.333333% !important;
  }
}
